<body>
    <div class="left">
        <div class="fotoFuncionario">
            <img src="#">
        </div>
        <div class="nomeCargo">
            <p>Funcionario: </p><br>
            <span>Nome</span>
            <p>Cargo: </p><br>
            <span>Gerente</span>
        </div>
        <div class="funcoes">
            <a href="">Realizar agendamento</a>
            <a href="">Cadastrar cliente</a>
            <a href="">Cadastrar PET</a>
            <a href="">Cadastrar Serviços</a>
            <a href="">Sair</a>
        </div>
    </div>
    <div class="right">

    </div>
</body>